@charset 'utf-8';


:root {
    --primary-bgc: #ddd;
    --secondary-bgc: #24292e;
    --blue: #4a69bd;
    --base-font__size: 16px;
    --base-font__family: 'PT Sans', sans-serif;
    --sub-font__family: 'Roboto Mono', monospace;
}